body {
	max-width: 600px;
}

button {
	height: 20px;
	width: 20px;
	background: white;
	position: absolute;
}

.carousel {
	position: relative;
}

.carousel-item {
	display: none;
}

.carousel-item-visible {
	display: inline-block;
}
